<% content_for :title, "仕訳 編集" %>

<div class="page">
  <div class="narrow">
    <h1 class="page-title">仕訳 編集</h1>

    <%= render "shared/error_messages", object: @entry %>

    <%= form_with model: @entry, local: true, html: { class: "form" } do |f| %>
      <div class="field">
        <label>伝票No</label>
        <div><%= @entry.entry_no %></div>
      </div>

      <div class="field">
        <label for="journal_entry_entry_date">日付</label>
        <%= f.date_field :entry_date %>
      </div>

      <div class="field mt-3">
        <%= f.label :description, "概要" %>
        <%= f.text_field :description, class: "input", placeholder: "例）備品購入／振込手数料 など", list: "journal-entry-description-list" %>
      </div>

      <%= render partial: "lines_fields", locals: { f: f } %>

      <div class="actions vstack">
        <%= f.submit "更新", class: "btn btn-sm btn-block" %>
        <%= link_to "戻る", journal_entries_path, class: "btn btn-outline btn-sm btn-block" %>
      </div>
    <% end %>

    <%= render partial: "autocomplete_datalists", locals: { description_suggestions: @description_suggestions, memo_suggestions: @memo_suggestions } %>
  </div>
</div>
