<div class="auth">
    <h1>アカウント設定</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }, method: :put) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%# 名前使う場合 %>
    <div class="field">
        <%= f.label :name, "名前" %>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <hr>

    <div class="field">
        <%= f.label :password, "新しいパスワード（変更する場合）" %>
        <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
        <%= f.label :password_confirmation, "確認用パスワード" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
        <%= f.label :current_password, "現在のパスワード（必須）" %>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
        <%= f.submit "更新する", class: "btn" %>
    </div>
    <% end %>

    <div class="links">
        <%= link_to "戻る", root_path %>
    </div>
</div>