<% content_for :title, "貸借対照表" %>

<div class="page">
  <div class="narrow">
    <h1 class="page-title">貸借対照表</h1>
    <div class="year-banner">
      選択中の会計年度:<span class="year-pill"><%= current_period.accounting_year %></span>
    </div>

    <div class="table-wrap mt-16">
      <table class="table">
        <thead>
          <tr>
            <th class="w-50">資産</th>
            <th class="w-50">負債・純資産</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="va-top">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>科目</th>
                    <th class="text-right">開始残高</th>
                    <th class="text-right">当期増減</th>
                    <th class="text-right">期末残高</th>
                  </tr>
                </thead>
                <tbody>
                  <% @assets.each do |row| %>
                    <tr>
                      <td><%= row[:name] %></td>
                      <td class="text-right"><%= amt(row[:opening]) %></td>
                      <td class="text-right"><%= amt(row[:change]) %></td>
                      <td class="text-right"><%= amt(row[:ending]) %></td>
                    </tr>
                  <% end %>
                </tbody>
                <tfoot>
                  <tr class="sum-row">
                    <td>資産合計</td>
                    <td class="text-right"><%= amt(@total_assets_opening) %></td>
                    <td class="text-right"><%= amt(@total_assets_change) %></td>
                    <td class="text-right"><%= amt(@total_assets_ending) %></td>
                  </tr>
                </tfoot>
              </table>
            </td>

            <td class="va-top">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>科目</th>
                    <th class="text-right">開始残高</th>
                    <th class="text-right">当期増減</th>
                    <th class="text-right">期末残高</th>
                  </tr>
                </thead>
                <tbody>
                  <% (@liabilities + @equities).each do |row| %>
                    <tr>
                      <td><%= row[:name] %></td>
                      <td class="text-right"><%= amt(row[:opening]) %></td>
                      <td class="text-right"><%= amt(row[:change]) %></td>
                      <td class="text-right"><%= amt(row[:ending]) %></td>
                    </tr>
                  <% end %>
                </tbody>
                <tfoot>
                  <tr class="sum-row">
                    <td>負債・純資産合計</td>
                    <td class="text-right"><%= amt(@total_liabilities_and_equity_opening) %></td>
                    <td class="text-right"><%= amt(@total_liabilities_and_equity_change) %></td>
                    <td class="text-right"><%= amt(@total_liabilities_and_equity_ending) %></td>
                  </tr>
                </tfoot>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="actions mt-12">
      <div>ダウンロード:
        <%= link_to "CSV", reports_balance_sheet_path(format: :csv) %> /
        <%= link_to "PDF", reports_balance_sheet_path(format: :pdf) %>
      </div>
      <div class="hstack mt-8">
        <%= link_to "会計メニューに戻る", accounting_menu_path, class: "btn btn-outline btn-sm" %>
      </div>
    </div>
  </div>
</div>
