<% content_for :title, "会計メニュー" %>

<div class="page compact">
  <div class="narrow">
    <h1 class="page-title">会計メニュー</h1>

    <div class="year-banner">
      選択中の会計年度:<span class="year-pill"><%= current_period.accounting_year %></span>
    </div>

    <ul class="menu-list mt-16">
      <li><%= link_to "残高設定",            opening_balances_path,         class: "btn" %></li>
      <li><%= link_to "仕訳 新規登録/編集",  journal_entries_path,          class: "btn" %></li>
      <li><%= link_to "確認ページ",          reports_confirmation_path,     class: "btn" %></li>
      <li><%= link_to "総勘定元帳",          reports_general_ledger_path,   class: "btn" %></li>
      <li><%= link_to "損益計算書",          reports_income_statement_path, class: "btn" %></li>
      <li><%= link_to "貸借対照表",          reports_balance_sheet_path,    class: "btn" %></li>
      <li><%= link_to "戻る",                authenticated_root_path,       class: "btn btn-outline" %></li>
    </ul>
  </div>
</div>
