<div class="page compact">
    <div class="narrow">
        <h1 class="page-title">会計メニュー</h1>

        <div class="year-banner">
            選択中の会計年度:<span class="year-pill"><%= current_period.accounting_year %></span>
        </div>

        <ul class="menu-list">
            <li><%= link_to "開始残高", opening_balances_path, class: "btn" %></li>
            <li><%= link_to "仕訳登録", "#", class: "btn" %></li>
            <li><%= link_to "仕訳の一覧", "#", class: "btn" %></li>
            <li><%= link_to "戻る", authenticated_root_path, class: "btn btn-outline" %></li>
        </ul>
    </div>
</div>